/* var */
:root {
  --backgroundColor : #ffffff;
  --primaryColor : #2899f9;
}
/* navbar */
.colorSection {
  color: var(--primaryColor);
}
.navbarMenuTextClass {
  color: black;
  letter-spacing: 2px;
}
/* jumbotron */
.jumbotron {
  padding-top: 7rem;
  background-color: var(--backgroundColor);
}
/* project */
#projects {
  background-color: var(--backgroundColor);
}
/* section */
section {
  scroll-margin-top: 200px;
}